### Git ###
.git*


### Node.js ###
# Dependency directories
node_modules

# Logs
logs
*.log
*.log.[0-9]
log*

# Coverage directory
lib-cov
coverage
.nyc_output

# Optional NPM cache directory
.npm

# Package ignore file
.npmignore


### Project ###
# Metafiles
.env.example
.editorocnfig
.dockerignore


### CI / CD ###
# CircleCI
circle*
.circle*
# Jenkins
Jenkinsfile
