Dockerfile
Jenkinsfile
coverage
docker-compose.yml
docs
node_modules
yarn-error.log
*.md
!README.md
.circle*
.codecov*
.coveralls*
.dockerignore
.drone*
.editorconfig
.env
.git*
.huskyrc*
.lintstagedrc*
.npmignore
.prettierrc*
