# Top-most EditorConfig file
root = true

[*]
charset = utf-8
end_of_line = LF
trim_trailing_whitespace = true
insert_final_newline = true

[*.js]
indent_style = space
indent_size = 2

[*.{yml,yaml,json}]
indent_style = space
indent_size = 2
