coverage
docs
test
Dockerfile
circle.yml
jest.config.js
.*.log
*.log
*.log.[0-9]
.circleci
.codecov*
.coveralls*
.dockerignore
.drone*
.editorconfig
.env
.eslintrc*
.git*
.huskyrc*
.lintstagedrc*
.npmignore
.prettierrc*
.tern*
.travis.yml
